<div class="form">
    <div class="form-group">
        <label class="control-label" for="bookName">书名：</label>
        <input type="text" class="form-control" id="bookName" ng-model="book.bookName">
    </div>
    <div class="form-group">
        <label class="control-label" for="bookPrice">价格：</label>
        <input type="text" class="form-control" id="bookPrice" ng-model="book.bookPrice">
    </div>
    <div class="form-group">
        <label class="control-label" for="bookCover">书的封面：</label>
        <input type="text" class="form-control" id="bookCover" ng-model="book.bookCover">
    </div>
    <div class="form-group">
        <button class="btn btn-primary"ng-click="add()">添加图书</button>
    </div>
</div>