<!--detail{{id}}-->
<div>
    <div class="panel panel-success text-center">
        <div class="panel-heading">
            <span ng-show="flag">{{book.bookName}}</span>
            <input type="text" ng-model="temp.bookName" ng-hide="flag">
        </div>
        <div class="panel-body text-center"><img ng-src="{{book.bookCover}}" width="200px" height="250px"/></div><!--遇到图片使用ng-src-->
        <div class="panel-footer">
            价格：<span ng-show="flag">{{book.bookPrice}}</span>
            <input type="text" ng-model="temp.bookPrice" ng-hide="flag">
            <button class="btn btn-warning" ng-click="changeState()" ng-show="flag">修改</button>
            <button class="btn btn-danger" ng-click="remove()" ng-show="flag">删除</button>

            <button class="btn btn-success" ng-hide="flag" ng-click="update()">确认</button>
            <button class="btn btn-default" ng-hide="flag" ng-click="cancel()">取消</button>
        </div>
    </div>
</div>