<div class="col-md-12">
    <div class="panel panel-default text-center">
        <div class="panel-heading">
            <span ng-show="flag">{{book.bookName}}</span>
            <span ng-hide="flag">书名：</span>
            <input type="text" ng-model="temp.bookName" ng-hide="flag">
        </div>
        <div class="panel-body">
            <img ng-src="{{book.bookCover}}" style="width:200px; height: 200px">
        </div>
        <div class="panel-footer">
            价格:<span ng-show="flag">{{book.bookPrice}}</span>
            <input type="text" ng-model="temp.bookPrice" ng-hide="flag">
            <button class="btn btn-warning" ng-click="changeState()" ng-show="flag">修改</button>
            <button class="btn btn-danger" ng-click="remove()" ng-show="flag">删除</button>
            <button class="btn btn-success" ng-click="update()" ng-hide="flag">确定</button>
            <button class="btn btn-default" ng-click="cancel()" ng-hide="flag">取消</button>
        </div>
    </div>
</div>