<!DOCTYPE html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>珠峰培训http://www.zhufengpeixun.cn</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<!--组件的好处 复用-->
<!--panel 组件-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!--通过数据渲染不同的组件-->
            <panel title="这是angularJs" information="info" f="fn(t)">这是内容1</panel>
            <panel title="这是reactJs" information="info" f="fn(t)">这是内容2</panel>
        </div>
    </div>
</div>
<script src="node_modules/angular/angular.js"></script>
<script>
     var app = angular.module('appModule',[]);
     //默认指令不会产生作用域，产生一个作用域将title属性，存在自己的身上
     app.run(function ($rootScope) {
         $rootScope.name='zfpx';
         $rootScope.info = '作者';
         $rootScope.fn = function (title) {
             alert(title)
         }
     });
     app.directive('panel',function () {
         return {
            restrict:'E',
            transclude:true,//将指令之间的内容用一个作用域保留下来
            templateUrl:'tmpl/panel.html',//ajax
            /*link:function (scope,element,attrs) { //attrs是所有属性的集合组成的对象
                 scope.title = attrs.title;
            },*/
            scope:{
                title:'@',
                author:'=information',
                say:'&f'
            },//scope:{}
             // 1.true代表的是产生作用域，但是和父级保持关系
             // 2.{}表示不再有任何关系，无法获取父级属性
             //不写scope  写true  写{}
         }
     });
</script>
</body>
</html>